@CHARSET "ISO-8859-1";

body {
	background-color: #262626;
	padding-top: 3%;
	color: white;
}

h1 {
	letter-spacing: 10px;
	text-transform: uppercase;
	font: 30px "Lato", sans-serif;
	text-align: center;
	margin-bottom: 7%;
}

/* h2 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 10px "Lato", sans-serif;
	text-align: center;
	margin: 5px;
}
 */
#playField {
	height: 304px;
	width: 304px;
	margin: 5% auto;
}

.block {
	height: 100px;
	width: 100px;
	float: left;
	font: 60px "Lato", sans-serif;
	text-align: center;
	line-height: 100px;
}

#block1 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-top: none;
	border-left: none;
}

#block2 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-top: none;
}

#block3 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-top: none;
	border-right: none;
}

#block4 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-left: none;
}

#block5 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
}

#block6 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-right: none;
}

#block7 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-left: none;
	border-bottom: none;
}

#block8 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-bottom: none;
}

#block9 {
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	border-right: none;
	border-bottom: none;
}

#winningText {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 10px "Lato", sans-serif;
	text-align: center;
	margin: 5px;
}